:root {
    --darkbrown: #453333;
    --palewhite: #FCF5E5; 
    --strawyellow: #F8C468; 
    --hazelnut: #F1D39D; 
    --oceanblue: #2EA1DA;
    --skyblue: #6DBDE5; 
    --lightpink: #F8CBC5; 
    --coralreef: #EB8B8B; 
    --seaweedgreen: #C1EB8B; 
    --turtlegreen: #6BCC69; 
    --seastar: #D197FF; 

}

body {
    background: var(--palewhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Landing page styling */

.header-container{
    text-align: center;
    margin-top: 50px;
}

.home-mainContent{
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;

}
.center-title {
    font-family: 'Pixeloid Sans', Nunito Sans, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}
.button-container{
    display: flex;
    flex-direction: column;
}
.center-desc {
    margin-top: 20%;
    justify-content: space-evenly;
    font-family: 'Pixeloid Sans', Nunito Sans, sans-serif;
    
}

.btn{
    width: 200px;
    padding: 15px;
    margin-top: 50px;
    cursor: pointer;
    border: 3px solid black;
    font-family: 'Pixeloid Sans', Nunito Sans, sans-serif;
    font-size: 24px;
}

.startbtn{
    background-color: var(--coralreef);
}

.startbtn:hover{
    background-color:var(--strawyellow);
    box-shadow: 5px 5px #000;
}

.btnalt{
    background-color: var(--strawyellow);
}
.btnalt:hover{
    background-color: var(--coralreef);
    box-shadow: 5px 5px #000;
}




/* home page styling */

.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-box{
    margin-top: -15px;
}

.choose-topic{
    font-family:'Pixeloid Sans', Nunito Sans, sans-serif;
    font-weight: bold;
}

.menu-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-topic{    
    text-decoration: none;
    font-family: 'Pixeloid Sans';
    color: #000;
    font-size: 18px;
    padding-left: 15px;
    display: flex;
    height: 60px;
    width: 200px;
}
.menu-back{
    text-decoration: none;
    font-family: 'Pixeloid Sans';
    color: #000;
    font-size: 18px;
    margin-left: 15px;
    
}

.triangle{
    display: none;
}

.menu-topic :hover{
    padding-left: 20px;
    width: max-content;
	height: 1px;
	border-top: 10px solid transparent;
	border-left: 15px solid #000;
	border-bottom: 10px solid transparent;

}
.backbtn{
    margin-left: 20px;
}
.backbtn:hover{
    box-shadow: 5px 5px #000;
}

.back-page{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
}

.back-page:hover{
    border-bottom: 2px solid #000;
}