:root {
    --darkbrown: #453333;
    --palewhite: #FCF5E5; 
    --strawyellow: #F8C468; 
    --hazelnut: #F1D39D; 
    --oceanblue: #2EA1DA;
    --skyblue: #6DBDE5; 
    --lightpink: #F8CBC5; 
    --coralreef: #EB8B8B; 
    --seaweedgreen: #C1EB8B; 
    --turtlegreen: #6BCC69; 
    --seastar: #E6C6FF; 

    /* background-color:var(--strawyellow);
    box-shadow: 5px 5px #000; */

    /* width: 150px;
    padding: 15px;
    margin-top: 50px;
    cursor: pointer;
    border: 3px solid black;
    font-family: 'Pixeloid Sans', Nunito Sans, sans-serif;
    font-size: 24px; */
}


@font-face {
    font-family: "pixeloidSans";
    src: url("../font/PixeloidSans-JR6qo.ttf");

    font-family: "pixeloidSans_bold";
    src: url("../font/PixeloidSansBold-GOjpP.ttf");
}
body, html {
    background: var(--palewhite);
    margin: 0;
    padding: 0;
    font-family: "pixeloidSans";
}
.titleImage {
    display: flex;
    justify-content: center;
}

.icons-containerTop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 12em;
    gap: 21px;
}
.icons-containerBottom {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
    gap: 40px;
}

.buttonscontainerTop {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
}
.buttonscontainerBottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10em;
}
.IconsTitle {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 3em;
    font-family: 'PixeloidSans';
}
.ButtonsTitle {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 5em;
    font-family: 'PixeloidSans';
}

.mainItems {
    display: flex;
    flex-direction: column;
}

.homeTitle, .beachTitle, .notepadTitle, .profileTitle, .storeTitle, .hamburgerTitle, .saveTitle {
    font-family:'PixeloidSans'; 
    text-align: center;
}

.buyTitle, .navButtonsTitle {
    text-align: center;
}


.saveButtonImage {
   margin-left: 90px;
   
}
.hamburgerImage {
    margin-left: 65px;
}

.navArrows {
    display: flex;
    justify-content: space-evenly;
    margin-left: 4em;
}
.navArrowsText {
    text-align: center;
    margin-left: 3.5em;
    font-family:'PixeloidSans'; 
}

.playButton, .aboutButton {
    width: 150px;
    height: 70px;
}

.buttonText {
    margin-left: 2.5em;
}

.buttonNav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.navButton {
    background-color: var(--coralreef);
    border: 3px solid var(--black);
    font-size: 16px;
    width: 120%;
    font-family: 'pixeloidSans_bold';
    color: black;
    padding: 10%;
    
}
.navButton:hover {
    cursor: pointer;
    background-color:var(--strawyellow);
    box-shadow: 5px 5px black;
}
.arrowright {
    margin-left: 5px;
}
.arrowleft {
   margin-right: 20em;
}


.saveButton {
    margin-top: 0px;
    

}
.savesection {
    display: flex;
    justify-content: center;
      
}
.store {
    display: flex;
    justify-content: center;
    margin-left: 18px;
}







